<div class="foot">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="title">
                Location
            </div>
            <div class="subtitle">
                SOCH penthouse,<br>
                5th Floor, Student Organization Center at Hilles,<br>
                59 Shepard st, Cambridge MA
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 center-align">
            <div class="title">
                Opening Hours
            </div>
            <div class="subtitle">
                Monday - Thursday: 8pm - 1am<br>
                Friday - Sunday: 7pm - 2am
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 right-align">
            <div class="title">
                Contact us
            </div>
            <div class="subtitle">
                sochcafe@gmail.com
            </div>
        </div>
    </div>
</div>
