<div class="gallery">
    <div class="row">
        <div class="col-xs-12 col-sm-6 image-container">
            <img src="/img/gallery1.jpg" class="gallery-image"></img>
        </div>
        <div class="col-xs-12 col-sm-6 image-container">
            <img src="/img/gallery3.jpg" class="gallery-image"></img>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 image-container">
            <img src="/img/gallery4.jpg" class="gallery-image"></img>
        </div>
        <div class="col-xs-12 col-sm-6 image-container">
            <img src="/img/gallery5.jpg" class="gallery-image"></img>
        </div>
    </div>
</div>
