<div class="poster">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-5 col-md-offset-7 field">
                <div class="text-box">
                    <div class="title">
                        SOCH cafe
                    </div>
                    <div class="subtitle">
                        5th floor of the SOCH<br>
                        Opening Hours:<br>
                        Monday - Thursday: 8pm - 1am<br>
                        Friday - Sunday: 7pm - 2am
                    </div>
                </div>
            </div>
            <p class="scroll-glyph"><span class="glyphicon glyphicon-chevron-down"></span></p>
        </div>
    </div>
</div>
