@import url(http://fonts.googleapis.com/css?family=Roboto);

$primaryColor:   #0277bd;
$accentColor:    #1de9b6;
$bgColor:        #3D3D3D;
$darkBgColor:    #263238;
$lightBgColor:   #37474f;
$lightTextColor: #f5f5f5;
$darkTextColor:  #212121;
$light-latte: #c1a28b;
$latte: #A67B5B;
$dark-latte: #856247;
$font-stack: 100%,'Roboto', sans-serif;

body {
   height: 100%;
   font: 100% 'Roboto', sans-serif;
}

.left-align {
    text-align: right;
}

.right-align {
    text-align: right;
}

.center-align {
    text-align: center;
}

